requests >=2.31.0
pandas              # for reading data
openpyxl            # for writing xlsx files
keyring             # For securely storing/retrieving passwords
win11toast; platform_system == "Windows"          # For sending notifications
tqdm                # Nice progress bar
# "loguru",         # Easier logs
ong_utils >= 0.6.3  # Adds ui
ong_utils[credentials] > 0.6.3
ong_utils[office] > 0.6.3; platform_system == "Windows"          # For manipulating opened Excel files
