requests >=2.31.0
pandas              # for reading data
openpyxl            # for writing xlsx files
keyring             # For securely storing/retrieving passwords
pywin32; platform_system == "Windows"             # Another one for windows interface, used for testing username and password
win11toast; platform_system == "Windows"          # For sending notifications
tqdm                # Nice progress bar
# "loguru",         # Easier logs
ong_utils
